In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [4]:
webscrape_df = pd.read_csv('Dataset2/webscrape.csv')
webscrape_df.head()

,Ball,Runs,Bowler,Batsman,Speed,Pitch Length,Pitch Line
0,39.5,W,B Stokes,I Tahir,135.8 km/h,short length,just outside off stump.
1,39.4,W,B Stokes,K Rabada,125.8 km/h,short length,outside off stump.
2,39.3,4Lb,B Stokes,K Rabada,NaN,NaN,NaN
3,39.2,0,B Stokes,K Rabada,135.4 km/h,short length,on off stump.
4,39.1,4,B Stokes,K Rabada,132.1 km/h,short length,outside off stump.

In [6]:
players_df = pd.read_csv('Data/players.csv')
players_df.head()

,ID,Name,Role,Full Name,Image,DOB,Batting Style (s),Bowling Style (s),Batting Style (l),Bowling Style(l),Team ID,Playing Role
0,2230,RT Ponting,C,Ricky Ponting,/db/PICTURES/CMS/202600/202613.1.jpg,19-12-1974,rhb,rm,right-hand bat,right-arm medium,2.0,top-order batter
1,8876,MJ Clarke,VC,Michael Clarke,/db/PICTURES/CMS/202500/202579.1.jpg,2-4-1981,rhb,sla,right-hand bat,slow left-arm orthodox,2.0,middle-order batter
2,7445,NW Bracken,P,Nathan Bracken,/db/PICTURES/CMS/103900/103970.1.jpg,12-9-1977,rhb,lfm,right-hand bat,left-arm fast-medium,2.0,bowler
3,6426,BJ Haddin,WK,Brad Haddin,/db/PICTURES/CMS/202500/202587.1.jpg,23-10-1977,rhb,NaN,right-hand bat,NaN,2.0,wicketkeeper batter
4,10122,NM Hauritz,P,Nathan Hauritz,/db/PICTURES/CMS/103900/103952.1.jpg,18-10-1981,rhb,ob,right-hand bat,right-arm offbreak,2.0,bowler

In [8]:
bowlers = set(webscrape_df['Bowler'].unique())
batsmen = set(webscrape_df['Batsman'].unique())
players = set(players_df['Name'].unique())

bowlers_not_in_players = bowlers - players
batsmen_not_in_players = batsmen - players

players_not_in_webscrape = players - (bowlers | batsmen)

print(f"Total Bowlers: {len(bowlers)}, Not in Players: {len(bowlers_not_in_players)}")
print(f"Total Batsmen: {len(batsmen)}, Not in Players: {len(batsmen_not_in_players)}")
print(f"Total Players: {len(players)}, Not in Bowler or Batsman: {len(players_not_in_webscrape)}")

Total Bowlers: 100, Not in Players: 87
Total Batsmen: 150, Not in Players: 125
Total Players: 911, Not in Bowler or Batsman: 885